body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#suggestions {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px; /* Limit the height to enable vertical scrolling */
    overflow-y: auto;  /* Enable vertical scrolling */
    margin-top: -10px; /* Adjust margin to align better with the input field */
    padding: 0;
    position: absolute;
    width: 50%; /* Adjust width to be smaller than the input field */
    z-index: 1000;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

#result {
    display: none;
}

#result p {
    margin: 0;
    font-size: 1.2em;
}
